.container{
    position: relative;   
     max-width: 1900px;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;  
}
.home-con{

    background: url(img/cover\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;

}
.title{
    color: wheat;
    position: relative;
    top: 350px;
    line-height: 100px;
}
.title h1{
    display: flex;
font-size: 100px;
font-family:'Times New Roman', Times, serif;
font-weight: 10;
letter-spacing: 8px;
justify-content: center;
color: white;
margin-top: 0px;
}

.title p{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 70px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
}

.button button{
    padding: 20px;
    height: 50px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
}

.about-con{
    background: url(img/2nd\ cover.png);
    background-size: cover;
    height: 1080px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.info-con{
    max-width: 700px;
    margin-right: 100px;
    color: white;
}
.info-con h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    font-weight: 20;
}
.info-con p{
    font-size: 20px;
    line-height: 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}

.service-con{
    height: 1080px;
    background-color: rgba(233, 221, 200, 0.479);
    display: flex;
    justify-content: center;
    
}
.service-info{
    position: relative;
}
.service-info h1{
    position: relative;
    width: 1000px;
    left: 300px;
    top: 100px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.images{
    position: relative;
    top: 10px;
    display: flex;
    gap: 50px;
    max-width:1900px;
}
.img1,.img2,.img3{
    height: 700px;
}
 .img1-info,.img2-info, .img3-info{
    width: 300px;
    position: relative;
    bottom: 100px;
    left: 100px;
 }
.img1-info h3, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;

}
.img1-info h3{
    font-size: 25px;
    text-align: center;
}
.img1-info p{
    font-size: 20px;
    text-align: center;
}

.img1-info button{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 5px;
    
}
.img2-info h3, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;

}

.img2-info h3{
    font-size: 25px;
    text-align: center;
}
.img2-info p{
    font-size: 20px;
    text-align: center;
}

.img2-info button{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35px;
    width: 300px;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 5px;
    
}

.img3-info h3, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;

}
.img3-info h3{
    font-size: 25px;
    text-align: center;
}
.img3-info p{
    font-size: 20px;
    text-align: center;
}

.img3-info button{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
    letter-spacing: 5px;
    
}
.third{
    position: relative;
    display: flex;
    background-color: rgb(16, 20, 16);
    
}
.right-con{
    height: 1080px;
    color: white;
    position: relative;
}

.right{
    width: 900px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right h1{
    font-size: 60px;
    position: relative;
    left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 50;

}
.right img{
    position: relative;
    width: 250px;
    bottom: 150px;
}

.left-con{
    color: white;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
    margin: 0 auto;
}
.left-con h3{
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
}
.left-con p{
    font-size: 20px;
}

.end-con{
    height: 1080px;
    background-color: rgba(233, 221, 200, 0.479);
    display: flex;
    justify-content: center;
}
.contact h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
}

.contact img{
    position: relative;
    bottom: 50px;
    width: 600px; 
    left: 650px;
}

.account{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    width: 1900px;
}

.account h3{
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}